
Data/variable.dat
Data/train_mean_std.csv
Data/GLO-MFC_001_024_mask_bathy.nc
Data/domain_points.npy
Data/Currents/wcur_vali_scale.npy
Data/Currents/wcur_vali.npy
Data/Currents/wcur_train_scale.npy
Data/Currents/wcur_train.npy
Data/Currents/wcur_test_scale.npy
Data/Currents/wcur_test.npy
Data/Currents/RawFiles/wcur/glo12_rg_1m-m_202106-202106_3D-wo_hcst.npy
Data/Currents/RawFiles/wcur/glo12_rg_1m-m_202106-202106_3D-wo_hcst.nc
Data/Currents/RawFiles/wcur/glo12_rg_1m-m_202105-202105_3D-wo_hcst.npy
Data/Currents/RawFiles/wcur/glo12_rg_1m-m_202105-202105_3D-wo_hcst.nc
Data/Currents/RawFiles/wcur/glo12_rg_1m-m_202104-202104_3D-wo_hcst.npy
Data/Currents/RawFiles/wcur/glo12_rg_1m-m_202104-202104_3D-wo_hcst.nc
Data/Currents/RawFiles/wcur/glo12_rg_1m-m_202103-202103_3D-wo_hcst.npy
Data/Currents/RawFiles/wcur/glo12_rg_1m-m_202103-202103_3D-wo_hcst.nc
Data/Currents/RawFiles/wcur/glo12_rg_1m-m_202102-202102_3D-wo_hcst.npy
Data/Currents/RawFiles/wcur/glo12_rg_1m-m_202102-202102_3D-wo_hcst.nc
Data/Currents/RawFiles/wcur/glo12_rg_1m-m_202101-202101_3D-wo_hcst.npy
Data/Currents/RawFiles/wcur/glo12_rg_1m-m_202101-202101_3D-wo_hcst.nc
Data/Currents/RawFiles/cur/glo12_rg_1m-m_202106-202106_3D-uovo_hcst.npy
Data/Currents/RawFiles/cur/glo12_rg_1m-m_202106-202106_3D-uovo_hcst.nc
Data/Currents/RawFiles/cur/glo12_rg_1m-m_202105-202105_3D-uovo_hcst.npy
Data/Currents/RawFiles/cur/glo12_rg_1m-m_202105-202105_3D-uovo_hcst.nc
Data/Currents/RawFiles/cur/glo12_rg_1m-m_202104-202104_3D-uovo_hcst.npy
Data/Currents/RawFiles/cur/glo12_rg_1m-m_202104-202104_3D-uovo_hcst.nc
Data/Currents/RawFiles/cur/glo12_rg_1m-m_202103-202103_3D-uovo_hcst.npy
Data/Currents/RawFiles/cur/glo12_rg_1m-m_202103-202103_3D-uovo_hcst.nc
Data/Currents/RawFiles/cur/glo12_rg_1m-m_202102-202102_3D-uovo_hcst.npy
Data/Currents/RawFiles/cur/glo12_rg_1m-m_202102-202102_3D-uovo_hcst.nc
Data/Currents/RawFiles/cur/glo12_rg_1m-m_202101-202101_3D-uovo_hcst.npy
Data/Currents/RawFiles/cur/glo12_rg_1m-m_202101-202101_3D-uovo_hcst.nc
Data/Currents/cur_vali_scale.npy
Data/Currents/cur_vali.npy
Data/Currents/cur_train_scale.npy
Data/Currents/cur_train.npy
Data/Currents/cur_test_scale.npy
Data/Currents/cur_test.npy
Data/Argo/RawFiles/PR_PF_6902926.csv
Data/Argo/RawFiles/PR_PF_6902925.csv
Data/Argo/RawFiles/PR_PF_6902923.csv
Data/Argo/RawFiles/PR_PF_6902922.csv
Data/Argo/RawFiles/PR_PF_6902921.csv
Data/Argo/RawFiles/PR_PF_6902920.csv
Data/Argo/RawFiles/PR_PF_6902919.csv
Data/Argo/RawFiles/PR_PF_6902918.csv
Data/Argo/RawFiles/PR_PF_6902908.csv
Data/Argo/RawFiles/PR_PF_6902907.csv
Data/Argo/RawFiles/PR_PF_6902906.csv
Data/Argo/RawFiles/PR_PF_6902860.csv
Data/Argo/RawFiles/PR_PF_6902856.csv
Data/Argo/RawFiles/PR_PF_5906405.csv
Data/Argo/RawFiles/PR_PF_5906404.csv
Data/Argo/RawFiles/PR_PF_5906403.csv
Data/Argo/RawFiles/PR_PF_5906401.csv
Data/Argo/RawFiles/PR_PF_5906383.csv
Data/Argo/RawFiles/PR_PF_5906371.csv
Data/Argo/RawFiles/PR_PF_5906367.csv
Data/Argo/RawFiles/PR_PF_5906366.csv
Data/Argo/RawFiles/PR_PF_5906365.csv
Data/Argo/RawFiles/PR_PF_5906364.csv
Data/Argo/RawFiles/PR_PF_5906363.csv
Data/Argo/RawFiles/PR_PF_5906362.csv
Data/Argo/RawFiles/PR_PF_5906237.csv
Data/Argo/RawFiles/PR_PF_5906236.csv
Data/Argo/RawFiles/PR_PF_5906163.csv
Data/Argo/RawFiles/PR_PF_5906162.csv
Data/Argo/RawFiles/PR_PF_5906154.csv
Data/Argo/RawFiles/PR_PF_5906103.csv
Data/Argo/RawFiles/PR_PF_5906100.csv
Data/Argo/RawFiles/PR_PF_5906097.csv
Data/Argo/RawFiles/PR_PF_5906050.csv
Data/Argo/RawFiles/PR_PF_5906049.csv
Data/Argo/RawFiles/PR_PF_5906043.csv
Data/Argo/RawFiles/PR_PF_5906037.csv
Data/Argo/RawFiles/PR_PF_5906014.csv
Data/Argo/RawFiles/PR_PF_5906011.csv
Data/Argo/RawFiles/PR_PF_5905838.csv
Data/Argo/RawFiles/PR_PF_5905745.csv
Data/Argo/RawFiles/PR_PF_5905741.csv
Data/Argo/RawFiles/PR_PF_5905727.csv
Data/Argo/RawFiles/PR_PF_5905702.csv
Data/Argo/RawFiles/PR_PF_5905701.csv
Data/Argo/RawFiles/PR_PF_5905700.csv
Data/Argo/RawFiles/PR_PF_5905699.csv
Data/Argo/RawFiles/PR_PF_5905698.csv
Data/Argo/RawFiles/PR_PF_5905695.csv
Data/Argo/RawFiles/PR_PF_5905669.csv
Data/Argo/RawFiles/PR_PF_5905365.csv
Data/Argo/RawFiles/PR_PF_5905364.csv
Data/Argo/RawFiles/PR_PF_5905363.csv
Data/Argo/RawFiles/PR_PF_5905362.csv
Data/Argo/RawFiles/PR_PF_5905360.csv
Data/Argo/RawFiles/PR_PF_5905359.csv
Data/Argo/RawFiles/PR_PF_5905358.csv
Data/Argo/RawFiles/PR_PF_5905297.csv
Data/Argo/RawFiles/PR_PF_5905295.csv
Data/Argo/RawFiles/PR_PF_5905292.csv
Data/Argo/RawFiles/PR_PF_5905291.csv
Data/Argo/RawFiles/PR_PF_5905290.csv
Data/Argo/RawFiles/PR_PF_5905140.csv
Data/Argo/RawFiles/PR_PF_5904974.csv
Data/Argo/RawFiles/PR_PF_5904973.csv
Data/Argo/RawFiles/PR_PF_5904784.csv
Data/Argo/RawFiles/PR_PF_5904783.csv
Data/Argo/RawFiles/PR_PF_5904781.csv
Data/Argo/RawFiles/PR_PF_5904740.csv
Data/Argo/RawFiles/PR_PF_5904735.csv
Data/Argo/RawFiles/PR_PF_5904726.csv
Data/Argo/RawFiles/PR_PF_5904707.csv
Data/Argo/RawFiles/PR_PF_5904701.csv
Data/Argo/RawFiles/PR_PF_5904648.csv
Data/Argo/RawFiles/PR_PF_5904585.csv
Data/Argo/RawFiles/PR_PF_5904576.csv
Data/Argo/RawFiles/PR_PF_5904560.csv
Data/Argo/RawFiles/PR_PF_5904513.csv
Data/Argo/RawFiles/PR_PF_5904288.csv
Data/Argo/RawFiles/PR_PF_5904275.csv
Data/Argo/RawFiles/PR_PF_5902423.csv
Data/Argo/RawFiles/PR_PF_5902386.csv
Data/Argo/RawFiles/PR_PF_4903198.csv
Data/Argo/RawFiles/PR_PF_4902999.csv
Data/Argo/RawFiles/PR_PF_4902934.csv
Data/Argo/RawFiles/PR_PF_4902302.csv
Data/Argo/RawFiles/PR_PF_4902301.csv
Data/Argo/RawFiles/PR_PF_4902300.csv
Data/Argo/RawFiles/PR_PF_4901568.csv
Data/Argo/RawFiles/PR_PF_3901816.csv
Data/Argo/RawFiles/PR_PF_3901801.csv
Data/Argo/RawFiles/PR_PF_3901303.csv
Data/Argo/RawFiles/PR_PF_3901299.csv
Data/Argo/RawFiles/PR_PF_3901248.csv
Data/Argo/RawFiles/PR_PF_3901209.csv
Data/Argo/RawFiles/PR_PF_3901208.csv
Data/Argo/RawFiles/PR_PF_3901196.csv
Data/Argo/RawFiles/PR_PF_3901186.csv
Data/Argo/RawFiles/PR_PF_1902199.csv
Data/Argo/RawFiles/PR_PF_1902197.csv
Data/Argo/RawFiles/PR_PF_1902195.csv
Data/Argo/raw_argo_data.csv
Data/Argo/argo_vali_scale.npy
Data/Argo/argo_vali.npy
Data/Argo/argo_train_scale.npy
Data/Argo/argo_train.npy
Data/Argo/argo_test_scale.npy
Data/Argo/argo_test.npy
Data/Argo/argo_data_filtered.npy
Code/Model1/model-9900.pt
Code/Model1/model-9800.pt
Code/Model1/model-9700.pt
Code/Model1/model-9600.pt
Code/Model1/model-9500.pt
Code/Model1/model-9400.pt
Code/Model1/model-9300.pt
Code/Model1/model-9200.pt
Code/Model1/model-9100.pt
Code/Model1/model-9000.pt
Code/Model1/model-900.pt
Code/Model1/model-8900.pt
Code/Model1/model-8800.pt
Code/Model1/model-8700.pt
Code/Model1/model-8600.pt
Code/Model1/model-8500.pt
Code/Model1/model-8400.pt
Code/Model1/model-8300.pt
Code/Model1/model-8200.pt
Code/Model1/model-8100.pt
Code/Model1/model-8000.pt
Code/Model1/model-800.pt
Code/Model1/model-7900.pt
Code/Model1/model-7800.pt
Code/Model1/model-7700.pt
Code/Model1/model-7600.pt
Code/Model1/model-7500.pt
Code/Model1/model-7400.pt
Code/Model1/model-7300.pt
Code/Model1/model-7200.pt
Code/Model1/model-7100.pt
Code/Model1/model-7000.pt
Code/Model1/model-700.pt
Code/Model1/model-6900.pt
Code/Model1/model-6800.pt
Code/Model1/model-6700.pt
Code/Model1/model-6600.pt
Code/Model1/model-6500.pt
Code/Model1/model-6400.pt
Code/Model1/model-6300.pt
Code/Model1/model-6200.pt
Code/Model1/model-6100.pt
Code/Model1/model-6000.pt
Code/Model1/model-600.pt
Code/Model1/model-5900.pt
Code/Model1/model-5800.pt
Code/Model1/model-5700.pt
Code/Model1/model-5600.pt
Code/Model1/model-5500.pt
Code/Model1/model-5400.pt
Code/Model1/model-5300.pt
Code/Model1/model-5200.pt
Code/Model1/model-5100.pt
Code/Model1/model-5000.pt
Code/Model1/model-500.pt
Code/Model1/model-4900.pt
Code/Model1/model-4800.pt
Code/Model1/model-4700.pt
Code/Model1/model-4600.pt
Code/Model1/model-4500.pt
Code/Model1/model-4400.pt
Code/Model1/model-4300.pt
Code/Model1/model-4200.pt
Code/Model1/model-4100.pt
Code/Model1/model-4000.pt
Code/Model1/model-400.pt
Code/Model1/model-3900.pt
Code/Model1/model-3800.pt
Code/Model1/model-3700.pt
Code/Model1/model-3600.pt
Code/Model1/model-3500.pt
Code/Model1/model-3400.pt
Code/Model1/model-3300.pt
Code/Model1/model-3200.pt
Code/Model1/model-3100.pt
Code/Model1/model-3000.pt
Code/Model1/model-300.pt
Code/Model1/model-2900.pt
Code/Model1/model-2800.pt
Code/Model1/model-2700.pt
Code/Model1/model-2600.pt
Code/Model1/model-2500.pt
Code/Model1/model-2400.pt
Code/Model1/model-2300.pt
Code/Model1/model-2200.pt
Code/Model1/model-2100.pt
Code/Model1/model-2000.pt
Code/Model1/model-200.pt
Code/Model1/model-1900.pt
Code/Model1/model-1800.pt
Code/Model1/model-1700.pt
Code/Model1/model-1600.pt
Code/Model1/model-1500.pt
Code/Model1/model-1400.pt
Code/Model1/model-1300.pt
Code/Model1/model-1200.pt
Code/Model1/model-1100.pt
Code/Model1/model-1000.pt
Code/Model1/model-100.pt
Data/Currents/wcur_vali.npy
Data/Currents/wcur_train.npy
Data/Currents/wcur_test.npy
Data/Currents/cur_vali.npy
Data/Currents/cur_train.npy
Data/Currents/cur_test.npy
Data/Argo/argo_vali.npy
Data/Argo/argo_train.npy
Data/Argo/argo_test.npy
*.npy
*.pt
*.dat
*.dat
Output/Plot/Simulation/Solution/t=1.00/w.png
Output/Plot/Simulation/Solution/t=1.00/v.png
Output/Plot/Simulation/Solution/t=1.00/tau.png
Output/Plot/Simulation/Solution/t=1.00/p.png
Output/Plot/Simulation/Solution/t=0.75/w.png
Output/Plot/Simulation/Solution/t=0.75/v.png
Output/Plot/Simulation/Solution/t=0.75/tau.png
Output/Plot/Simulation/Solution/t=0.75/p.png
Output/Plot/Simulation/Solution/t=0.50/w.png
Output/Plot/Simulation/Solution/t=0.50/v.png
Output/Plot/Simulation/Solution/t=0.50/tau.png
Output/Plot/Simulation/Solution/t=0.50/p.png
Output/Plot/Simulation/Solution/t=0.25/w.png
Output/Plot/Simulation/Solution/t=0.25/v.png
Output/Plot/Simulation/Solution/t=0.25/tau.png
Output/Plot/Simulation/Solution/t=0.25/p.png
Output/Plot/Simulation/Solution/t=0.00/w.png
Output/Plot/Simulation/Solution/t=0.00/v.png
Output/Plot/Simulation/Solution/t=0.00/tau.png
Output/Plot/Simulation/Solution/t=0.00/p.png
Output/Plot/Simulation/Prediction_2steps/t=1.00/w.png
Output/Plot/Simulation/Prediction_2steps/t=1.00/v.png
Output/Plot/Simulation/Prediction_2steps/t=1.00/tau.png
Output/Plot/Simulation/Prediction_2steps/t=1.00/p.png
Output/Plot/Simulation/Prediction_2steps/t=0.75/w.png
Output/Plot/Simulation/Prediction_2steps/t=0.75/v.png
Output/Plot/Simulation/Prediction_2steps/t=0.75/tau.png
Output/Plot/Simulation/Prediction_2steps/t=0.75/p.png
Output/Plot/Simulation/Prediction_2steps/t=0.50/w.png
Output/Plot/Simulation/Prediction_2steps/t=0.50/v.png
Output/Plot/Simulation/Prediction_2steps/t=0.50/tau.png
Output/Plot/Simulation/Prediction_2steps/t=0.50/p.png
Output/Plot/Simulation/Prediction_2steps/t=0.25/w.png
Output/Plot/Simulation/Prediction_2steps/t=0.25/v.png
Output/Plot/Simulation/Prediction_2steps/t=0.25/tau.png
Output/Plot/Simulation/Prediction_2steps/t=0.25/p.png
Output/Plot/Simulation/Prediction_2steps/t=0.00/w.png
Output/Plot/Simulation/Prediction_2steps/t=0.00/v.png
Output/Plot/Simulation/Prediction_2steps/t=0.00/tau.png
Output/Plot/Simulation/Prediction_2steps/t=0.00/p.png
Output/Plot/Simulation/Prediction/t=1.00/w.png
Output/Plot/Simulation/Prediction/t=1.00/v.png
Output/Plot/Simulation/Prediction/t=1.00/tau.png
Output/Plot/Simulation/Prediction/t=1.00/p.png
Output/Plot/Simulation/Prediction/t=0.75/w.png
Output/Plot/Simulation/Prediction/t=0.75/v.png
Output/Plot/Simulation/Prediction/t=0.75/tau.png
Output/Plot/Simulation/Prediction/t=0.75/p.png
Output/Plot/Simulation/Prediction/t=0.50/w.png
Output/Plot/Simulation/Prediction/t=0.50/v.png
Output/Plot/Simulation/Prediction/t=0.50/tau.png
Output/Plot/Simulation/Prediction/t=0.50/p.png
Output/Plot/Simulation/Prediction/t=0.25/w.png
Output/Plot/Simulation/Prediction/t=0.25/v.png
Output/Plot/Simulation/Prediction/t=0.25/tau.png
Output/Plot/Simulation/Prediction/t=0.25/p.png
Output/Plot/Simulation/Prediction/t=0.00/w.png
Output/Plot/Simulation/Prediction/t=0.00/v.png
Output/Plot/Simulation/Prediction/t=0.00/tau.png
Output/Plot/Simulation/Prediction/t=0.00/p.png
